@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
*{
font-family: 'Sora', sans-serif;
}

.wrapper{
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
  padding: 5px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px auto;
}


.button {
  color:#fff;
  background-color: #15cdfc;
  border-color: #15cdfc;
  margin-top: 100px;
  border-radius: 300px;
  padding: 21px 34px;
  transition: .1s opacity linear;
  font-size: 14px;
}

.info{
  flex: 1;
  margin: 2px;
  padding: 10px;
}

.words{
  position: relative;
  margin: 0 auto;
  right: 300px;
}

.line{
  width: 100%;
  border-bottom:1px solid black;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 960px){
  .info{
    flex-basis: 40%;
  }


}

@media screen and (max-width: 680px){
  .info{
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }

  .button{
    margin: 0 auto;
  }


}
