@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
*{
font-family: 'Sora', sans-serif;
}

.container{
  display: flex;
  margin-top:0;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}


.button {
  color:#fff;
  background-color: #15cdfc;
  border-color: #15cdfc;
  margin-top: 100px;
  margin-left: 250px;
  border-radius: 300px;
  padding: 21px 34px;
  transition: .1s opacity linear;
  font-size: 14px;
}

.buttonCon{
  width: 25%;
  margin-top: 75px;


}

.info{
  width: 50%;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;

}

.words{
  position: relative;
  margin: 0 auto;
  right: 300px;
}

.line{
  width: 100%;
  border-bottom:1px solid black;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 960px){
  .container{
    flex-flow: row wrap;
    flex-basis: 100px;
  }

  .info{
    flex-flow: row wrap;

  }
}
