.aboutWrapper{
margin: 0 auto;
width: 95%;
max-width: 960px;
}

.aboutContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.aContainer{
  position: relative;
  top: 50px;
  flex: 1;
}

.aContainer p{
  padding-left: 10px;
}

.aContainer img{
  width: 500px;
  height: 700px;
}

.cWrapper{
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 200px;

}

.communitypic{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
}

.cText h2{
  position: relative;
  left: 20px;
  top: 50px;
  text-align: center;
}

.pWrapper{
  position: relative;
  top: 50px;
}



.workContainer{
display: inline-block;
position: relative;
top: 100px;
text-align: center;
color:(64, 11, 124);
width: 90%;
}

.staffpic{
  display: block;
  width: 576px;
  height: 384px;
  margin: 0 auto;
  filter: brightness(70%);

}

.applyContainer {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%,-50% );
  color: #fff;
  text-align: center;
}

.buttonWrapper{
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

button{
  color:#fff;
  font-family: "Oxygen",sans-serif;
  background-color: #15cdfc;
  border-color: #15cdfc;
  border-radius: 300px;
  padding: 21px 34px;
  transition: .1s opacity linear;
  font-size: 14px;

  a{
    text-decoration: none;
    color: #fff;
  }

  &:hover{
    background-color: rgba(21, 205, 252, .8);
    transition: background 200ms ease-in, color 200ms ease-in
  }
}

@media screen and (max-width: 960px){
  .aContainer{
    flex-basis: 40%;
    margin: 0 0 5px 0;
    transition: all .5s ease;
  }

  .workContainer{
    margin: 50px 50px;
    background: black;
    transition: all .5s ease;
    h2{
      color: black;
    }
    p{
      color: black;
    }
    img{
      display: none;
      transition: all .5s ease;
    }
  }

  button{
    flex-shrink: 2;
  }
}

@media screen and (max-width: 680px){
  .aContainer{
    flex-basis: 0%;
  }
}
