.product{
  color: #fff;
  background-image: url("../images/productbanner.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
  object-fit: contain;
  margin: 0;
  padding: 0;
}
