@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');


.container{
  display: block;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.imgCard{
margin: 10px 10px;

}

.imgCard img{
  border: 0;
  width: 60%;
  height: 50%;
}
