@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');


.container{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 70%;
}
